.c-pagination>.pagination>li>a, .pagination>li>span {
        border-radius:40px;
        margin-left: 5px;
        width: 40px;
        height: 40px;
        font-weight: 400;
        color: #5c6873;

}

.c-pagination>.pagination>li>span  {
    text-align: center;
    display: inline-block;
    font-size: 17px;
    color: #5c6873;
    font-weight: 400;
    padding: 7px 4px 6px 4px;
    border-radius: 40px;
    border: 1px solid #eeeeee;
}

.c-pagination>.pagination>.active>a, .c-pagination>.pagination>.active>span, .c-pagination>.pagination>.active>a:hover, .c-pagination>.pagination>.active>span:hover, .c-pagination>.pagination>.active>a:focus, .c-pagination>.pagination>.active>span:focus, .c-pagination>.pagination>li>span:hover, .c-pagination>.pagination>li>a:hover {
    border-color: #32c5d2;
    background: #32c5d2;
    color: #fff;
}

